@{
    ViewBag.Title = "Mis compras";
    Layout = "~/Views/Plantillas/plantilla.cshtml";
    PetShop.Models.Venta venta = ViewBag.venta;
    List<PetShop.Models.Producto> detalleCompra = (List<PetShop.Models.Producto>)ViewBag.detalleCompra;
}

<div class="span12">

	 
	<h1> Detalle de Venta</h1><br />
	 
    <br />
    Id Venta : @venta.idVenta <br />
    Fecha:     @venta.fechaVenta <br />
    Monto total:    @venta.totalventa <br />

    <br />
        <table class="table table-bordered table-striped">
		  <thead>
			  <tr>
				<th style="text-align:center;">Id producto</th>
				<th style="text-align:center;">Nombre</th>
                <th style="text-align:center;">Cantidad</th>
				<th style="text-align:center;">Precio Unit.</th>
                <th style="text-align:center;">Subtotal</th>
			  </tr>
			</thead>
			<tbody>
                @foreach (var prod in detalleCompra)
                {
                    using (Html.BeginForm("DetalleVenta", "Productos", FormMethod.Post))
                    {
			  <tr>
				<td style="text-align:center;">
                    @prod.idProducto</td>
                <td style="">@prod.nomProducto</td>
                <td style="text-align:center;">@prod.cantidad</td>
                <td style="text-align:center;">S/. @prod.precioProducto.ToString("0.00")</td>
                <td style="text-align:center;">S/. @((prod.precioProducto * prod.cantidad).ToString("0.00")) </td>
			  </tr>		
                    }	  
                }
                <tr>
				<td colspan="4"><span style="float:right;">Total:</span></td>
				<td style="text-align:center;"><strong>S/. @detalleCompra.Sum(Producto => (Producto.precioProducto * Producto.cantidad)).ToString("0.00")</strong></td>
			  </tr>	
			</tbody>
		  </table>
		  
            <a href="@Url.Action("MisCompras","Productos")" class="btn btn-primary">Regresar</a>
            
    </div>

<script>
    $(document).ready(function () {
    });

</script>